*{
    box-sizing: border-box;
}

.search-issues-container{
    margin: 0 auto;
    width: 95vw;
    position: absolute;
    top: 59vh;
    height: 41vh;
    overflow-y: scroll;
}

.issues-header{
    margin: 10px 0;
}
.issues-container{

}
.issue {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin: 5px;
}
.follow-btn{
    position: relative;
    bottom: -155px;
    right: -221px;
    width: 20%;
    text-align: center;
}
.title{
    font-size: 30px;
    padding: 20px;
    margin: 0;
    text-align: center;
    text-shadow: lightgrey 2px 2px;
}

.issue-thumbnail{
    background-size: cover;
    background-position: center;
    height: 100%;
}
.description{
    font-size: 16px;
}
.dispatchers{
    position: relative;
    bottom: -35px;
}
