.details-issue{
    width: 350px;
    height: 40vh;
    position: relative;
}
.details-image{
    width: 450px;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
.details-text{}
.details-title{}
.details-description{}
.details-users{}
.details-dispatchers{}
