.details-issue{
    width: 50vw;
    min-width: 270px;
    height: 23.7vh;
    position: fixed;
    right: 0px;
    top: 100px;
    z-index: 5;
    background-color: rgb(228, 228, 228);
}
.details-image{
    position: fixed;
    top: 100px;
    left: 0;
    width: 50vw;
    height: 66vh;
    background-size: cover;
    background-position: center;
}
.details-text{
    padding: 5px 10px;
}
.details-title{
    width: 100%;
    font-size: 24px;
    margin: 0;
}
.details-description{
    width: 130px;
    height: 95px;
}
.details-users{
    position: absolute;
    bottom: 75px;
    right: 12px;
}
.details-dispatchers{
    position: absolute;
    bottom: 55px;
    right: 12px;
}
.details-follow{
    position: absolute;
    bottom: 100px;
    right: 30px;
}
.details-close{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
@media all and (max-width: 650px){
    .details-follow, .details-dispatchers, .details-users{
        position: static;
    }
    .details-description{
        height:auto;
    }
}
@media all and (max-width: 595px){
    .details-issue{
        width: 100vw;
        top: 50px;
    }
    .details-image{
        display: none;
    }
}
